build
node_modules
package-lock.json
*.*DS_Store*

test/javasource/
test/deployment/
test/.classpath
test/.project
test/theme/
test/userlib/
test/.classpath
test/.project
*.launch
*.tmp
.idea/

.editorconfig
*DS_Store*
.vscode/
*.bak
